{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <h1 class="text-warning">{% trans "Sign In" %}</h1>
      <p>{% blocktrans %}Login Name: &nbsp&nbsp hanging_with_my_gnomies<br>
          Password: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp PR6019.O8_U4_1922{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col--md-8 mt-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


