@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Special+Elite&display=swap');

body {
    font-family: 'Special Elite', cursive, sans-serif;
}

.welcome-img {
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2022/06/13/12/19/sea-7259914_960_720.jpg) no-repeat center center fixed;
    background-size: cover;
}

.jumbotron{
    background-color: rgba(0,0,0,.3);
    height: 40vh;
    margin: 0px -15px;
}

h1 ,i{
    color: aliceblue;
}

/* In welcome image, connected to js */
#scroll-down {
    cursor: pointer;
}

