@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Special+Elite&display=swap');
/* font-family: 'Codystar', cursive; */

body {
    font-family: 'Special Elite', cursive;
}

.fron-image {
    height: 95vh;
    background-size: cover;

}

.jumbotron{
    background-color: rgba(0,0,0,.3);
    position: flex;

}

