{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Nicks|Plate</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>

</head>

<body>
    <!-- Welcme Text & Image-->
    <div class="container-fluid welcome-img" id="scroll-down">
        <div class="row">
            <div class="col-12">
                <section class="callout jumbotron text-center shadow-lg">
                    <h1 class="pt-5 welcome-text">Welckome</h1>
                    <h3 class="text-warning"><small>to</small></h3>
                    <h1 class="lead street-address">Sunstreet<strong><strong>.</strong>12</strong>
                        <span class="d-inline d-sm-none"><br></span>
                    </h1>
                </section>
                <p class="text-center mt-3"><i class="fas fa-angle-down fa-4x" ></i></p>
            </div>
        </div>
    </div>
        <!-- /.Welcome Image  -->
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="footer mt-auto pt-3 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-white">
                    {% for message in messages %}
                    <div class="alert {{ messages.tags }} alert-dismissible fade show" 
                        id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" 
                            data-bs-dismiss="alert" aria-label="Close">
                    </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="m-0 text-center text-muted">Staff Only</p>
        <div class="text-center">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </div>
        <p class="m-0 text-center text-white">&copy; Nicks Plate</p>
    </footer>
</body>
