{% extends 'base.html' %}

{% block content %}


<!-- /.Main information -->
<div class="container">
    <section class="quotes">
        <div class="row">
            <div class="col-12 my-5">
                <h2 class="text-uppercase"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit blanditiis placeat minima temporibus ratione doloremque at molestias voluptatem id et similique iste cumque quisquam ex veniam consequatur, quae fuga aliquam? </h2>
                <hr />
            </div>
        </div>
        <!-- Chefs todys dish -->
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="media">
                    <div class="d-none d-sm-block">
                        {% for meal in object_list %}
                        <img src="{{ meal.featured_image }}" class="rounded-circle mr-3" height=100 width=100>
                        
                    </div>
                    <div class="media-body">
                        <blockquote class="blockquote">
                            
                            <h3>{{ meal.todays_meal }}</h3>
                            <p>{{ meal.description }}</p>
                            {% endfor %}
                            <footer class="blockquote-footer">Chef</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <!-- Staffs storys of workplace -->
            <div class="col-12 col-md-6">
                <div class="media">
                    <div class="d-none d-sm-block">
                        {% for staff in object_list %}
                        <img src="{{ staff.featured_image }}" class="rounded-circle mr-3" height=100 width=100>
                    </div>
                    <div class="media-body">
                        <blockquote class="blockquote">
                            <h3>{{ staff.staff_title }}</h3>
                            <p>{{ staff.description }}</p>
                            <footer class="blockquote-footer">Staff</footer>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
            <!-- Steakholders take on enviroment -->
            <div class="col-12 col-md-6">
                <div class="media">
                    <div class="d-none d-sm-block">
                        {% for enviroment in object_list %}
                        <img src="{{ enviroment.featured_image }}" class="rounded-circle mr-3" height=100 width=100>
                    </div>
                    <div class="media-body">
                        <blockquote class="blockquote">
                            <h3>{{ enviroment.environment_title }}</h3>
                            <p>{{ enviroment.description }}</p>
                            <footer class="blockquote-footer">Enviroment</footer>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
            <!-- Nicks place policy for a better day -->
            <div class="col-12 col-md-6">
                <div class="media">
                    <div class="d-none d-sm-block">
                        {% for policy in object_list %}
                        <img src="{{ policy.featured_image }}" class="rounded-circle mr-3" height=100 width=100>
                    </div>
                    <div class="media-body">
                        <blockquote class="blockquote">
                            <h3>{{ policy.policy_title }}</h3>
                            <p>{{ policy.description }}</p>
                            <footer class="blockquote-footer">Policy</footer>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.Main information -->
{% endblock %}