{% extends 'base.html' %}

{% block content %}


<!-- /.Main information -->
<div class="container">
    <section class="quotes">
        <div class="row">
            <div class="col-12 my-5">
                <h2 class="text-uppercase"> 
                    Welcome to Nicks Plate Sthlm, the best place in town. Says who? Well, 
                    We do. If you don't like it so be it. Since you are here (on the website), 
                    we will demonstrate our soul to you. Our team will update whats going on here 
                    and there. Becouse we care of the hole chain and we only serve what we like to eat. 
                    Price is about dubbel big chain companies. Note that the chef follows zero waste and 
                    will from time to time have a givaway. 
                </h2>
                <hr />
            </div>
        </div>

        <!-- Chefs todys dish -->
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="media">
                    <div class="d-none d-sm-block">
                        {% for meal in object_list %}
                        <img src="{{ meal.featured_image.url }}" class="rounded-circle mr-3" height=100 width=100>                      
                    </div>
                    <div class="media-body">
                        <blockquote class="blockquote">
                            <time ><small>{{ meal.created_on }}</small></time>
                            <h3>{{ meal.todays_meal | safe }}</h3>
                            <p>{{ meal.description | safe }}</p>
                            <footer class="blockquote-footer">Chef</footer>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>

            <!-- Staffs storys of workplace -->
            <div class="col-12 col-md-6">
                <div class="media">
                    <div class="d-none d-sm-block">
                        {% for staff in staff_list %}
                        <img src="{{ staff.featured_image.url }}" class="rounded-circle mr-3" height=100 width=100>
                    </div>
                    <div class="media-body">
                        <blockquote class="blockquote">
                            <time ><small>{{ staff.created_on }}</small></time>
                            <h3>{{ staff.staff_title | safe }}</h3>
                            <p>{{ staff.description | safe }}</p>
                            <footer class="blockquote-footer">Staff</footer>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>

            <!-- Steakholders take on enviroment -->
            <div class="col-12 col-md-6">
                <div class="media">
                    <div class="d-none d-sm-block">
                        {% for environment in environment_list %}
                        <img src="{{ environment.featured_image.url }}" class="rounded-circle mr-3" height=100 width=100>
                    </div>
                    <div class="media-body">
                        <blockquote class="blockquote">
                            <time ><small>{{ environment.created_on }}</small></time>
                            <h3>{{ environment.environment_title }}</h3>
                            <p>{{ environment.description | safe }}</p>
                            <footer class="blockquote-footer">Enviroment</footer>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>

            <!-- Nicks place policy for a better day -->
            <div class="col-12 col-md-6">
                <div class="media">
                    <div class="d-none d-sm-block">
                        {% for policy in policy_list %}
                        <img src="{{ policy.featured_image.url }}" class="rounded-circle mr-3" height=100 width=100>
                    </div>
                    <div class="media-body">
                        <blockquote class="blockquote">
                            <time ><small>{{ policy.created_on }}</small></time>
                            <h3>{{ policy.policy_title | safe }}</h3>
                            <p>{{ policy.description | safe }}</p>
                            <footer class="blockquote-footer">Policy</footer>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        {% if user.is_authenticated %}
        <hr />
        <br>
        <ul>
            <li id="one">Mondays: TEAM-Hans: 10:00 - 18:00</li>
            <li id="two">Tuesdays: TEAM-Hans: 10:00 - 18:00</li>
            <li id="three">Wednesdays: TEAM-Hans & -Alice: 15:00 - 21:15</li>
            <li id="four">Thursdays: TEAM-Hans & -Alice :10:00 - 18:00</li>
            <li id="five">Fridays: TEAM-Alice :09:00 - 15:00</li>
            <li id="six">Saturdays: Closed</li>
            <li id="zero">Sundays: TEAM-Alice :09:00 - 15:00</li>
        </ul>
        <hr />
        <br>
        {% else %}
        <p></p>
        
        {% endif %}
    </div>
</div>
<!-- /.Main information -->

{% endblock %}
